node_modules/
.next/
dist/
build/
coverage/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.local
.env
.env.*
*.log
tsconfig.tsbuildinfo
.DS_Store
.vscode/
/.idea/
*.swp
public/og.png